.fermentation {
    position: relative;
    z-index: 2;
    padding-bottom: 12rem;
    background-color: var(--color-accent-2);

    @media (max-width: 931px) {
        padding-bottom: 14rem;
        overflow-y: hidden;
    }

    @media (max-width: 611px) {
        padding-bottom: 97px;
    }

    @media (max-width: 355px) {
        padding: 0 0 83px;
    }

    .container {
        @media (max-width: 970px) {
            padding: 0 4rem;
        }
    }

    .container {
        @media (max-width: 929px) {
            max-width: 566px;
            margin: 0 auto;
            padding: 0;
        }
    }

    .container {
        @media (max-width: 610px) {
            max-width: 290px;
            padding: 0 15px;
        }
    }

    &::before,
    &::after {
        @include pseudoelem;
        z-index: -1;
    }

    &:before {
        top: 0px;
        right: -73px;
        left: unset;
        width: 332px;
        height: 418px;
        background: url(../img/decor-fermentation-1.svg) center/cover no-repeat;

        @media (max-width: 970px) {
            top: -7px;
            right: -161px;
        }

        @media (max-width: 929px) {
            top: 452px;
            right: -134px;
        }

        @media (max-width: 611px) {
            top: 433px;
            right: -99px;
            width: 244px;
            height: 323px;
            background-size: contain;
        }

        @media (max-width: 355px) {
            top: 382px;
            right: -135px;
        }
    }

    &::after {
        top: unset;
        bottom: 307px;
        left: -200px;
        width: 494px;
        height: 368px;
        background: url(../img/decor-fermentation-2.svg) center/cover no-repeat;

        @media (max-width: 970px) {
            bottom: 172px;
            left: -222px;
        }

        @media (max-width: 929px) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 2rem;
        text-transform: uppercase;

        @media (max-width: 611px) {
            margin-bottom: 12px;
            font-size: 18px;
            line-height: 167%;
        }

        @media (max-width: 355px) {
            margin-bottom: 16px;
            padding-top: 16px;
        }
    }

    &__info {
        margin-bottom: 6rem;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        text-align: left;
        color: var(--color-accent-3);

        @media (max-width: 970px) {
            margin-bottom: 3.2rem;
        }

        @media (max-width: 929px) {
            margin-bottom: 4.8rem;
        }

        @media (max-width: 355px) {
            margin-bottom: 8px;
            font-size: 1.6rem;
            line-height: 125%;
        }
    }

    &__swiper {
        display: none;

        @media (max-width: 929px) {
            display: block;
        }

        &-pagination,
        &-btn_prev,
        &-btn_next {
            @media (max-width: 929px) {
                display: block !important;
            }
        }

        &-btn_prev,
        &-btn_next {
            @media (max-width: 929px) {
                top: 80% !important;
                transform: translateY(-80%) !important;
                width: 11px !important;
                height: 8px !important;

                svg path {
                    fill: var(--color-accent-blue);
                }

                &:hover svg path {
                    fill: var(--color-accent-red);
                }
            }

            @media (max-width: 355px) {
                top: 63% !important;
                transform: translateY(-63%) !important;
            }
        }

        &-btn_prev {
            @media (max-width: 929px) {
                left: -20px !important;
            }

            @media (max-width: 355px) {
                left: 0px !important;
            }
        }

        &-btn_next {
            @media (max-width: 929px) {
                right: -20px !important;
            }

            @media (max-width: 355px) {
                right: 0px !important;
            }
        }

        &-pagination {
            @media (max-width: 929px) {
                position: absolute !important;
                top: auto !important;
                bottom: -16px !important;
            }

            @media (max-width: 355px) {
                top: 0 !important;
                bottom: unset !important;
                left: -33% !important;
            }
        }
    }

    &__slide {
        &_blue {
            display: flex;
            padding: 76.86px 35px;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            background-color: var(--color-accent-6);

            &-text {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 122%;
                text-align: center;
                color: var(--color-white);
            }
        }

        &-text {
            display: flex;
            height: 54px;
            padding: 0 10px;
            align-items: center;
            justify-content: flex-start;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 122%;
            color: var(--color-white);

            &_brown {
                background-color: var(--color-accent-5);
            }

            &_blue {
                background-color: var(--color-accent-6);
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 929px) {
            display: none;
        }

        &_left {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &_right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        position: relative;

        &_small {
            width: 294px;
            height: 294px;
        }

        &_blue {
            display: flex;
            width: 294px;
            height: 294px;
            padding: 35px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 32px;
            background-color: var(--color-accent-6);

            &-text {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 122%;
                text-align: center;
                color: #fff;
            }
        }

        &-img {
            display: block;
            width: 100%;
        }

        &-text {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 54px;
            padding: 0 4rem;
            align-items: center;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 122%;
            color: var(--color-white);

            &_big {
                background-color: var(--color-accent-5);
            }

            &_small {
                background-color: var(--color-accent-6);
            }

            &_left {
                justify-content: flex-start;
            }

            &_right {
                justify-content: flex-end;
            }
        }
    }
}
