.swiper-pagination,
.swiper-button-prev,
.swiper-button-next,
.swiper-button-prev::after,
.swiper-button-next::after {
    display: none !important;
}

.swiper-pagination-bullet {
    width: 4px !important;
    height: 4px !important;
    background-color: var(--color-accent-5) !important;
    opacity: 0.33 !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--color-accent-blue) !important;
    opacity: 1 !important;
}
