html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-bg);
    transition: all 0.5s ease;
}

.container {
    position: relative;
    width: 100%;
    max-width: 125rem;
    margin: 0 auto;
    padding: 0 6rem;

    @media (max-width: 931px) {
        padding: 0 4rem;
    }

    @media (max-width: 611px) {
        padding: 0 2rem;
    }

    @media (max-width: 291px) {
        padding: 0 15px;
    }
}
