:root {
    --color-bg: #ffffff;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #c5c5c5;
    --color-black: #000000;

    --color-accent: #0a398a;
    --color-accent-blue: #0a3b93;
    --color-accent-2: #f7eee5;
    --color-accent-3: #6c5f4a;
    --color-accent-4: #f5e1cd;
    --color-accent-5: #8a7b60;

    --font-family: 'Arial', sans-serif;
    --second-family: 'Lato', sans-serif;
    --third-family: 'Trebuchet MS', sans-serif;
    --font3: 'Roboto', sans-serif;
}
